/* 
 *	Title:Reset default browser styles
 */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-size:12px;
}
body{
	overflow-y: scroll;
}
*:focus { outline: none; }
/* *{-webkit-appearance: none;} */

h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } 
code, kbd, pre, samp { font-family: courier new, courier, monospace; } 
small { font-size: 12px; } 

ul, ol { list-style: none outside none; }

a { color:#666666;cursor: pointer;text-decoration: none; }

sup { vertical-align: text-top; } 
sub { vertical-align: text-bottom; }

legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; }
img{
	vertical-align: middle;}
table { border-collapse: collapse; border-spacing: 0; }

.clearfix{
	*zoom: 1; 
	display: inline-block;
	display: block;
}

.clearfix:after{
	clear: both; 
	content: " "; 
	display: block; 
	height: 0; 
	visibility: hidden;
}

.clear{
	clear: both; 
	overflow: hidden;
}
.left{
	float:left;
}
.right{
	float:right;
}
.vertical{
	vertical-align: middle;
}
.relative{
	position:relative;
}